@colorWhite: #f8f8ff;  
@colorYellow: #FFFFCC;
@fontLight: OpenSansCondensedLight, sans-serif;

@font-face {
    font-family: "OpenSansCondensedLight";
    src: url("../fonts/OpenSans-CondLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

ul {
    padding: 0;
}

.container-fluid {
    padding-left: 35px;
    padding-right: 35px;
}

.header {
    background-color: @colorWhite;
    padding-top: 10px;
    padding-bottom: 10px;
    &__title {
        font-size: 38px;
        font-family: OpenSansCondensedLight, sans-serif;
        margin-left: 10px;
    }
}

.connects {
    &__icon {
        margin-right: 5px;
        &_telegram {
            margin-left: 10px;
            font-size: 18px;
        }
    }
    &__phone-text {
        font-size: 28px;
        font-family: 'OpenSansCondensedLight', sans-serif;
        color: black; 
    }
    &__email {
        margin-right: 10px;
        font-size: 18px;
        margin-left: 40px;
    }
    &__telegram-text {
        margin-right: 20px;    
        font-size: 18px;    
    }
}

.main-screen {
    background-image: url("../image/main.jpg");
    background-position: center;
    height: 120vh;
    background-repeat: no-repeat;
    background-size: cover;
    color: @colorWhite;
    padding-left: 35px;
    padding-right: 35px;
    &__title {
        padding-top: 20px;
    }
    &__subtitle {
        font-family: @fontLight;
        letter-spacing: 2px;
    }
    &__btn {
        margin-top: 20px;
        font-size: 18px;
        font-weight: bold;
    }
}

// Классы бутстрап
.modal .btn {
    font-size: 18px;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
}
.modal-contacts,
.modal-header {
    border: 0;
}
.modal-body {
    padding-top: 0;
    padding-bottom: 0; 
}
.form-group label {
    font-weight: bold;
}
// End. Классы бутстрап

.thank-you {
    &__text-content {
        margin-top: 20px;
        font-size: 18px;
    }
}

.faq {
    font-size: 18px;
    &__question {
        margin-top: 30px;
    }
}

.rest-questions {
    &__title {
        margin-top: 30px;
    }
    &__btn {
        font-weight: bold;
        font-size: 18px;
        margin-top: 20px;
        margin-bottom: 30px;
    }
}

.contacts {
    background-color: #333333;
    color: @colorWhite;
    padding-top: 10px;
    &__title {
        margin-bottom: 20px;
    }
    &__hr {
        background-color: @colorWhite;
    }
}

@media screen and (max-device-width: 991px) {
    .container-fluid {
      padding-left: 15px;
      padding-right: 15px;
    }
    .main-screen {
        padding-left: 15px;
        padding-right: 15px;
        &__title {
            font-size: 24px;
        }
        &__subtitle {
            font-size: 18px;
        }
    }
    .faq {
        &__question {
            font-size: 22px;
        }
    }
}

@media screen and (min-device-width: 320px) {

}

@media screen and (min-device-width: 360px) {

}

@media screen and (min-device-width: 480px) {  

}

@media screen and (min-device-width: 576px) {  

}

@media screen and (min-device-width: 768px) {

}

@media screen and (min-device-width: 768px) 
              and (max-device-width: 991px) and (orientation:landscape) {

}

@media screen and (min-device-width: 768px) 
              and (max-device-width: 991px) and (orientation:portrait) {

}

@media screen and (min-device-width: 992px) {  

}

@media screen and (min-device-width: 1200px) {  

}

@media screen and (min-device-width: 1600px) {  

}

@media screen and (min-device-width: 1920px) {  

}